body {
  margin: 0 25px;
  font-family: 'Francois One', sans-serif;
  font-size: 1.4em;
}
table, th, td {
  border-bottom: 1px solid #a69eb0;
  border-collapse: collapse;
  padding: 9px;
}
table {
  /* width: 90%; */
  font-size: .9em;
}
tr th {
  text-align: left;
}
#icon-thead {
  width: 15px;
}
/* .empty-td {
  border-style: none;
  background-color: #ecefff;
} */
.date-header-bgColor {
  background-color: #dadae3;
}
.collapse-icon:hover {
  cursor: pointer;
}