body {
  padding: 0;
  margin: 0 25px;
  font-family: 'Francois One', sans-serif;
  font-size: 1.4em;
}
table, th, td {
  border-bottom: 1px solid rgb(185, 247, 203);
  border-collapse: collapse;
  padding: 9px;
}
table {
  /* width: 90%; */
  font-size: .9em;
  margin-top: 25px;
}
thead th {
  text-decoration: underline rgb(185, 247, 203);
}
tr th {
  text-align: left;
}
#icon-thead {
  width: .8em;
}
/* .empty-td {
  border-style: none;
  background-color: #ecefff;
} */
/* .date-header-bgColor {
  background-color: #dadae3;
} */
.date-header-bgColor {
  background-image: linear-gradient(to right, rgb(218, 192, 242), rgb(102, 109, 245));
  
}
.collapse-icon {
  min-width: 20px;
}
.collapse-icon:hover {
  cursor: pointer;
  /* background-image: linear-gradient(rgb(218, 192, 242), rgb(102, 109, 245)); */
  background-image: linear-gradient(rgb(232, 252, 237), rgb(185, 247, 203));
  /* background-color:  rgb(185, 247, 203);
  background-color:  rgb(246, 216, 182); */
}
/* .date-header {
} */
button {
  /* border-radius: 5px; */
  background-image: linear-gradient(to bottom right, rgb(218, 192, 242), rgb(102, 109, 245));
  padding: 3px 10px;
  font-size: .9em;
  margin-right: .5em;
  font-family: 'Magra', sans-serif;
  box-shadow: 2px 3px 3px rgb(185, 247, 203);
}

button:hover {
  background-image: linear-gradient(to top right, rgb(218, 192, 242), rgb(102, 109, 245));
  cursor: pointer;
  /* padding: 0 12px; */
}
::selection {
  /* background-color:  rgb(244, 164, 187); */
  background-color:  rgb(185, 247, 203);
}
tr.todo-table-tr:nth-of-type(odd) {
  /* background-color:  rgb(210, 209, 249); */
  background-color:  rgb(232, 252, 237);
}