body {
  padding: 0;
  margin: 0 25px;
  font-family: 'Francois One', sans-serif;
  font-size: 1.4em;
}
table, th, td {
  border-bottom: 1px solid rgb(205, 164, 244);
  border-collapse: collapse;
  padding: 9px;
}
table {
  /* width: 90%; */
  font-size: .9em;
}
tr th {
  text-align: left;
}
#icon-thead {
  width: .8em;
}
/* .empty-td {
  border-style: none;
  background-color: #ecefff;
} */
.date-header-bgColor {
  background-color: #dadae3;
}
.collapse-icon {
  min-width: 20px;
}
.collapse-icon:hover {
  cursor: pointer;
}
button {
  border: 1px solid blueviolet;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: .9em;
  margin-right: .5em;
  /* font-family: 'Cute Font', cursive; */
  font-family: 'Magra', sans-serif;
}

button:hover, button:focus, .date-header-bgColor:hover {
  background-color:  rgb(205, 164, 244);
}
::selection {
  background-color:  rgb(205, 164, 244);
}
